/*
	mainArea Section
-----------------------*/
#mainArea{
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
}
.container-slider{
	max-width: 829px;
	width: 100%;
	margin: 0 auto;
	padding-top: 100px;
}

/*
	profile section
----------------------*/
.container-profile{
	width: 100%;
	overflow: auto;
	background-color: #79B5E6;
}
.profile{
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
}
.profile>h1{
	font-size: 28px;
	text-align: center;
	font-weight: 700;
	padding-top: 20px;
	padding-bottom: 30px;
	color: #FFF;
}
.profile>h2{
	font-size: 26px;
	text-align: center;
	font-weight: 700;
	padding-top: 15px;
	padding-bottom: 25px;
	color: #FFF;
}
.profile>p{
	font-size: 24px;
	text-align: center;
	font-weight: 700;
	padding-top: 20px;
	padding-bottom: 40px;
	color: #FFF;
}
/*
	skills section
-------------------------*/
.container-skills{
	width: 100%;
	overflow: auto;
	padding-bottom: 120px;
}
.skills{
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
}
.skills>h1{
	font-size: 28px;
	text-align: center;
	font-weight: 700;
	padding-top: 50px;
	padding-bottom: 30px;	
}
.skills>h2{
	font-size: 24px;
	text-align: center;
	font-weight: 700;
	padding-top: 30px;
	padding-bottom: 20px;	
}
.skills>p{
	font-size: 24px;
	text-align: center;
	font-weight: 700;
	padding-top: 10px;
	padding-bottom: 30px;	
}
.blockskills{
	width: 100%;
	overflow: auto;
}
.skill1,.skill2,.skill3{
	float: left;
	max-width: 350px;
	width: 100%;
	padding: 20px 20px;
	margin: 10px;
	background-color:#79B5E6; 
	border: 3px #e8e8e8 solid;
}
.skill2,.skill3{
	padding: 40px 20px;
}
.skill1>img,.skill2>img,.skill3>img{
	position: relative;
	left: 70px;
	padding-bottom: 20px;
}
.skill1>h2,.skill2>h2,.skill3>h2{
	text-align: center;
	font-size: 20px;
	font-weight: 700;
	padding-bottom: 20px;
	color: #FFF;
}
.skill2>h2,.skill3>h2{
	margin-top: -13px;
}
.skill1>p,.skill2>p,.skill3>p{
	font-size: 18px;
	font-weight: 500;
	padding-bottom: 20px;
	color: #FFF;
}
/*
	portofolio
--------------------------*/
.container-portofolio{
	width: 100%;
	overflow: auto;
	background-color: #79B5E6;
	color: #fff;
}
.portofolio{
	max-width: 1280px;
	width: 100%;
	overflow: auto;
	margin: 0 auto;
}
.portofolio>h2{
	font-size: 28px;
	text-align: center;
	font-weight: 700;
	padding-top: 50px;
	padding-bottom: 30px;	
}
.contentleft{
	float: left;
	max-width: 500px;
	width: 100%;
}
.contentleft>h3{
	font-size: 20px;
	padding-bottom: 20px;
}
.contentleft>p{
	font-size: 18px;
	padding-bottom: 20px;
}
.contentright{
	float: right;
	max-width: 650px;
	width: 100%;
	min-height: 380px;
}
/*
	Chart Section
---------------------------------*/
.chart {
  list-style: none;
  margin: 0 auto;
  padding: 25px;
  max-width: 466px;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
.chart h1 {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 10pt;
  font-style: italic;
  font-weight: lighter;
  border-bottom: 1px dotted #e1e1e1;
}
.chart .line {
  height: 30px;
  padding: 5px 15px;
  line-height: 25px;
  color: #fff;
  text-align: center;
}
.chart .line:after {
  position: absolute;
  width: 32px;
  content: attr(data-percent);
  top: 0px;
  right: -52px;
  color: #000;
  background: rgba(0, 0, 0, 0.6);
  padding: 7.5px 10px;
  text-align: Center;
}
.chart .line:before {
  position: absolute;
  width: auto;
  content: attr(data-browser);
  top: 5px;
  left: 0;
  color: #000;
  padding: 2.5px 10px;
  text-align: Center;
}
.chart .line.HTML5 {
  background: #3cd3bf;
  border-color: #117964;
  max-width: 400px;
  width: 100%;
  margin-bottom: 20px;
}
.chart .line.Java {
  background: #3cd3bf;
  border-color: #208e4e;
  max-width: 250px;
  width: 100%;
  margin-bottom: 20px;
}
.chart .line.Illustrator {
  background: #3cd3bf;
  border-color: #1d6fa5;
  max-width: 300px;
  width: 100%;
  margin-bottom: 20px;
}
.chart .line.PHP {
  background: #3cd3bf;
  border-color: #713b87;
  max-width: 250px;
  width: 100%;
}
.chart .line.Photoshop {
  background: #3cd3bf;
  border-color: #b06f09;
  max-width: 400px;
  width: 100%;
  margin-bottom: 20px;
}
.line:nth-child(1) {
  animation-delay: 0.25s;
}
.line:nth-child(2) {
  animation-delay: 0.5s;
}
.line:nth-child(3) {
  animation-delay: 0.75s;
}
.line:nth-child(4) {
  animation-delay: 1s;
}
.line:nth-child(5) {
  animation-delay: 1.25s;
}
.line:nth-child(6) {
  animation-delay: 1.5s;
}
/*
	contact section
--------------------------*/
.containercontactBlockA01 {
	width: 100%;
	overflow: auto;
}
.containercontactBlockA01 .contactBlockA01 {
	max-width: 1150px;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding-top:80px;
}
.containercontactBlockA01 .contactBlockA01 h1,
.containercontactBlockA01 .contactBlockA01 h2 {
	text-align: center;
	font-size: 24px;
}
.containercontactBlockA01 .contactBlockA01 form{
	display: block;
	padding-top: 30px;
}
.containercontactBlockA01 .contactBlockA01 form .lefttableBlockA01{
	float: left;
}
.containercontactBlockA01 .contactBlockA01 form .lefttableBlockA01 input{
	width: 470px;
	height: 34px;
	margin: 10px;
	padding-left: 5px;
	font-size: 18px;
	border: none;
	border-bottom: 2px #f4f4f4 solid;
}
.containercontactBlockA01 .contactBlockA01 form .righttableBlockA01{
	float: right;
}
.containercontactBlockA01 .contactBlockA01 form .righttableBlockA01 textarea{
	max-width: 606px;
	max-height: 155px;
	width: 606px;
	height: 155px;
	margin-top: 10px;
	padding-left: 10px;
	font-size: 18px;
	border: none;
	border-bottom: 2px #f4f4f4 solid;
}
.containercontactBlockA01 .contactBlockA01 form .righttableBlockA01 a{
	text-align: center;
	background-color: #79B5E6;
	color: #FFF;
	padding: 5px 30px 5px 30px;
}
iframe{
	max-width: 1920px;
	width: 100%;
	padding-top: 50px;
}
