    	/* ==========================================================================
Contain		:
	Reset CSS that resets browser's consisting CSS setting as default.
	CSSs that construct page layout like page background, header, footer, global navigation and so on.
	
Contents	:
	1: Reset Section
	2: Wrap Section
	3: Header Section
	4: Main Section
	5: Footer Section
	
========================================================================== */
/*
	Reset Section
-------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	border: 0;
	-webkit-text-size-adjust: auto;
	-moz-text-size-adjust: auto;
	-ms-text-size-adjust: auto;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
	font-family: "Segoe UI";
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}
a {
	vertical-align: baseline;
	text-decoration: none;
	color: #000;
}

/*
	Wrap Section
------------------------*/
#wrap{
	width: 100%;
}
#wrapInner{
	width: 100%;
}
/*
	Header Section
------------------------*/
#headerArea{
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
}
.square{
	min-height: 30px;
	background-color:#79b5e6; 
}
.logo{
	max-width: 150px;
	width: auto;
	position: relative;
	left: 44%;
	padding-top: 15px;
	padding-bottom: 15px;
}

/*
	navArea Section
-------------------------------------*/
.navArea{
	width: 100%;
	min-height: 50px;
	background-color: #79b5e6;
}
nav {
	height: 40px;
	width: 100%;
	font-size: 12pt;
	position: relative;
}
nav ul {
	padding: 0;
	margin: 0 auto;
	width: 1120px;
	height: 40px;
}
nav li {
	display: inline;
	float: left;
}
nav a {
	color: #fff;
	display: inline-block;
	width: auto;
	text-align: center;
	text-decoration: none;
	font-weight: 500;
	line-height: 40px;
	padding: 5px 10px;
}
nav a:hover{
	color: #000;
}
nav li a {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
nav li:last-child a {
	border-right: 0;
}
nav a#pull {
	display: none;
}
@media screen and (max-width: 600px) {
	nav { 
  		height: auto;
  	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav li {
  		width: 50%;
  		float: left;
  		position: relative;
  	}
  	nav a {
	  	text-align: left;
	  	width: 100%;
  	}
  	.slider>img{
  		width: 100%;
  	}
  	.text>p{
	text-align: center;
	font-size: 26px;
	font-weight: 700;
}
}
@media only screen and (max-width : 480px) {
	nav {
		border-bottom: 0;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav a#pull {
		display: block;
		background-color: #79b5e6;
		width: auto;
		/*position: relative;*/
	}
	.slider>img{
  		width: 100%;
  	}
  	.text>p{
	text-align: center;
	font-size: 24px;
	font-weight: 700;
}
}
@media only screen and (max-width : 320px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	.slider>img{
  		width: 100%;
  	}
  	.text>p{
	text-align: center;
	font-size: 20px;
	font-weight: 700;
}
}
